* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.ruler {
  display: flex;
}
.left {
  background-color: rgb(129, 42, 42);
  padding-right: 100px;
  padding-top: 4px;
  padding-bottom: 4px;
  color: white;
}

.right {
  background-color: rgb(66, 118, 139);
  padding-right: 200px;
  padding-top: 4px;
  padding-bottom: 4px;
  color: white;
}

/* 150% of original size */
.ruler {
  transform: scale(1.5);
}
