* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.container {
  display: grid;
  grid-template-columns: repeat(4, auto);
  padding-left: 150px;
  padding-right: 100px;
}
.row1 {
  font-family: "Inter", system-ui, sans-serif;
}
.small-head {
  font-size: 30px;
  color: white;
  padding-bottom: 30px;
}
.para {
  color: #9fb1d1;
}
.container {
  display: grid;
  align-items: center;
  background-color: #000000;
  height: 50vh;
}

.row2 {
  font-family: "Inconsolata", monospace;
  color: rgb(174, 174, 174);
}
.row2 > div {
  display: flex;
  align-items: center;
  padding-top: 10px;
}
.row3 {
  font-family: "Inconsolata", monospace;
  color: rgb(174, 174, 174);
}
.row3 > div {
  display: flex;
  align-items: center;
  padding-top: 10px;
}
.row4 {
  font-family: "Inconsolata", monospace;
  color: rgb(174, 174, 174);
}
.row4 > div {
  display: flex;
  align-items: center;
  padding-top: 10px;
}
.cont {
  padding-right: 20px;
}
