* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.main-container {
  max-width: 1200px;
  display: flex;
}
/* layout only */
.svg {
  margin: 0;
  overflow: hidden;
  background-color: #1c1c1c;
  margin-top: 40px;
}

svg {
  width: 50vw;
  height: 22vh;
}

/* animation */
use {
  animation: move-forever 180s linear infinite;
  transform-origin: center;
}

/* depth-based velocity (very subtle) */
use:nth-child(1) {
  animation-duration: 120s;
}

use:nth-child(2) {
  animation-duration: 120s;
  animation-delay: -40s;
}

use:nth-child(3) {
  animation-duration: 120s;
  animation-delay: -60s;
}

/* motion */
@keyframes move-forever {
  from {
    transform: translateX(-1px);
  }
  to {
    transform: translateX(0);
  }
}

.black-box {
  background-color: #1c1c1c;
  color: azure;
  width: 50vw; /*if you want to cover half the screen*/
  height: 100vh; /*when you wanna cover the full height of the screen*/
  padding-top: 58px;
}
.comp1 {
  margin-left: 60px;
  padding-left: 20px;
}
.head1 {
  font-size: 19px;
  font-weight: 700;
}
.head1:hover {
  cursor: pointer;
  color: gray;
}
.head2 {
  font-size: 50px;
  padding-top: 65px;
}
.list {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  gap: 15px;
  padding-bottom: 60px;
}
.stats {
  font-size: 15px;
  color: gray;
}
.logos {
  display: flex;
  gap: 25px;
  padding-top: 30px;
}
.comp2 {
  margin-left: 30px;
  padding-left: 40px;
}
.logo-size {
  width: 110px;
  height: 110px;
}
.reviews {
  display: flex;
  align-items: center;
  gap: 5px;
  padding-left: 76px;
  padding-top: 20px;
}
.white-box {
  background-color: white color;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 50vw;
  height: 100vh;
  padding-top: 140px;
}

.comp3 {
  margin-left: 100px;
}

.white-head1 {
  font-size: 38px;
  white-space: nowrap;
}

.white-ins {
  color: gray;
  margin-top: 10px;
  margin-bottom: 30px;
}

.white-box > input {
  width: 500px;
  height: 45px;
  border-radius: 10px;
  border: 1px solid rgb(216, 216, 216);
  padding-left: 15px;
  overflow: hidden;
  padding-right: 15px;
  margin-bottom: 18px;
  margin-top: 18px;
}

.btn {
  margin-top: 50px;
  border-radius: 20px;
  width: 60px;
  border: none;
  background-color: gray;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}

.white-box > input::placeholder {
  font-size: 17px;
  color: rgb(175, 175, 175);
}
